<div class="row">
  <div class="col-lg-12">
    <div class="card w-100">
      <div class="d-flex justify-content-between ">
        <div class="p-3">
          <h4 class="card-title mb-0">Evenements</h4>
        </div>
        <button class="btn btn-outline-primary btn-sm" type="button" routerLink="/component/evenement-form">Ajouter Evenement</button>
      </div>
      <div class="card-body border-top">
        <full-calendar [options]="calendarOptions"></full-calendar>
      </div>
    </div>
  </div>
</div>
