<div class="row">
  <div class="col-lg-12">
    <!-- ==================================-->
    <!-- ========== Basic Alert ========== -->
    <!-- ==================================-->
    <div class="card w-100">
      <div class="p-3">
        <h4 class="card-title mb-0">Publication Management</h4>
      </div>
      <div class="card-body border-top">
        <angular-editor id="editor" (ngModelChange)="onChange($event)" [config]="config"[placeholder]="'Enter text here...'" (blur)="onBlur($event)" [(ngModel)]="htmlContent"></angular-editor>
      </div>
      <p ng-bind-html="htmlContent">HTML Output:  {{ htmlContent}}</p>
      <p ng-bind-html="htmlContent"></p>
    </div>
  </div>
</div>
