<div class="row">
  <div class="col-lg-12">
    <!-- ==================================-->
    <!-- ========== Basic Alert ========== -->
    <!-- ==================================-->
    <div class="card w-100">
      <div class="d-flex justify-content-between ">
        <div class="p-3">
          <h4 class="card-title mb-0">Etudiants</h4>
        </div>
      </div>
      <div class="card-body border-top">
        <table datatable [dtOptions]="dtOptions" [dtTrigger]="dtTrigger"  class="row-border hover" >
          <thead>
          <tr>
            <th>ID</th>
            <th>General Infos</th>
            <th>Date Naissance</th>
            <th>Encadré</th>
            <th>Actions</th>
          </tr>
          </thead>
          <tbody>
          <tr *ngFor="let member of etudiants">
            <td>{{member.id}}</td>
            <td>
              <div class="d-flex align-items-center">
                <img *ngIf="member.photo !='';else noPhoto" id="image{{member.id}}" alt="user" width="45"
                     class="rounded-circle">
                <ng-template #noPhoto>
                  <img src="assets/images/users/user1.jpg" alt="Admin" class="rounded-circle" width="45" height="45"
                       class="rounded-circle">
                </ng-template>
                <div class="ms-3">
                  <h5 class="mb-0 font-medium">{{member.prenom}} {{member.nom}}</h5>
                  <span class="text-muted">{{member.email}}</span>
                </div>
              </div>
            </td>
            <td>{{member.date}}</td>
            <td *ngIf="etudiantsDeEnseignant.includes(member,0);else non">Oui</td>
            <ng-template #non>
            <td>Non</td>
            </ng-template>
            <td>
              <div class="btn-group" ngbDropdown>
                <button type="button" class="btn btn-primary
                dropdown-toggle-icon-none
                d-flex
                align-items-center" id="dropdown1"
                        ngbDropdownToggle>
                                        <span class="icon icon-sm">
                                            <span class="fas fa-ellipsis-h icon-dark"></span>
                                        </span>
                  <span class="sr-only">Toggle Dropdown</span>
                </button>

                <ul ngbDropdownMenu aria-labelledby="dropdown1">
                  <li>
                    <a class="dropdown-item text-black btn-labeled"
                       routerLink="/component/member-show/{{member.id}}"><span class="btn-label"><i
                      class="fa fa-eye"></i></span> Show</a></li>
                  <li *ngIf="etudiantsNonEncadrees.includes(member,0)"><a class="dropdown-item text-black" href="#" [swal]="{ title: 'Etes vous sûr?',
                  text: 'Encadrer cet etudiant ?',
                  icon: 'warning',
                  showCancelButton: true,
                  confirmButtonText: 'Oui',
                  reverseButtons: true,
                  cancelButtonText: 'Non', showCancelButton: true }"
                                                                          (confirm)="onAffecter(member.id)"
                  ><span class="btn-label"><i class="fa fa-edit"></i></span>Encadrer</a></li>
                  <li>
                    <hr class="dropdown-divider">
                  </li>
                  <li *ngIf="etudiantsDeEnseignant.includes(member,0)"><a class="dropdown-item text-danger" href="#" [swal]="{ title: 'Etes vous sûr?',
                  text: 'Vous désaffecter de cet étudiant?',
                  icon: 'warning',
                  showCancelButton: true,
                  confirmButtonText: 'Oui',
                  reverseButtons: true,
                  cancelButtonText: 'Non', showCancelButton: true }"
                                                     (confirm)="onDesaffecte(member.id)"
                  ><span class="btn-label"><i class="fa fa-trash"></i></span>Ne plus Encadrer</a></li>
                </ul>
              </div>
            </td>
          </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
