<div class="row">
  <div class="col-lg-12">
    <!-- ==================================-->
    <!-- ========== Basic Alert ========== -->
    <!-- ==================================-->
    <div class="card w-100">
      <div class="p-3">
        <h4 class="card-title mb-0">Evenement Management</h4>
      </div>
      <div class="card-body border-top">
        <form  class="needs-validation" enctype="multipart/form-data" [formGroup]="form" (ngSubmit)="onSubmit()">
          <div class="row vertical-gap">
            <div class="col-md-4">
              <label for="titre" class="control-label">Titre</label>
              <input id="titre" class="form-control" formControlName="titre"/>
              <div *ngIf="(m.titre.invalid && (m.titre.dirty || m.titre.touched)) || submitted">
                <span  class="text-danger" *ngIf="m.titre.errors?.required">Please provide titre</span>
              </div>
            </div>
            <div class="col-md-4">
              <label for="lieu" class="control-label">Lieu</label>
              <input id="lieu" class="form-control" formControlName="lieu"/>
              <div *ngIf="(m.lieu.invalid && (m.lieu.dirty || m.lieu.touched)) || submitted">
                <span  class="text-danger" *ngIf="m.lieu.errors?.required">Please provide titre</span>
              </div>
            </div>
            <div class="col-md-4">
              <label  for="date" class="control-label">Date</label>
              <input id="date" formControlName="date" type="date" class="form-control"/>
              <div *ngIf="(m.date.invalid && (m.date.dirty || m.date.touched)) || submitted">
                <span  class="text-danger" *ngIf="m.date.errors?.required">Please provide titre</span>
              </div>
            </div>
          </div>
          <div class="form-group" style="margin-top: 2rem">
            <input type="submit" value="Add" class="btn btn-primary"/>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
