<div class="row">
  <div class="col-lg-12">
    <!-- ==================================-->
    <!-- ========== Basic Alert ========== -->
    <!-- ==================================-->
    <div class="card w-100">
      <div class="d-flex justify-content-between ">
        <div class="p-3">
          <h4 class="card-title mb-0">Membres</h4>
        </div>
        <button class="btn btn-outline-primary btn-sm" type="button" routerLink="/component/member-form"v>Ajouter Membre</button>
      </div>
      <div class="card-body border-top">
        <table datatable class="row-border hover">
          <thead>
          <tr>
            <th>ID</th>
            <th>General Infos</th>
            <th>First name</th>
            <th>Last name</th>
            <th>Actions</th>
          </tr>
          </thead>
          <tbody>
          <tr>
            <td>1</td>
            <td>
              <div class="d-flex align-items-center">
                <img src="assets/images/users/user1.jpg" alt="user" width="45" class="rounded-circle">
                <div class="ms-3">
                  <h5 class="mb-0 font-medium">Test</h5>
                  <span class="text-muted">Test@gmail.com</span>
                </div>
              </div>
            </td>
            <td>Foo</td>
            <td>Bar</td>
            <td><div class="btn-group" ngbDropdown>
              <button type="button" class="btn btn-primary
                dropdown-toggle-icon-none
                d-flex
                align-items-center"               id="dropdown1"
                      ngbDropdownToggle>
                                        <span class="icon icon-sm">
                                            <span class="fas fa-ellipsis-h icon-dark"></span>
                                        </span>
                <span class="sr-only">Toggle Dropdown</span>
              </button>

              <ul ngbDropdownMenu aria-labelledby="dropdown1">
                <li>
                  <a class="dropdown-item text-black btn-labeled" href="#" ><span class="btn-label"><i class="fa fa-eye"></i></span> Show</a></li>
                <li><a class="dropdown-item text-black" href="#"><span class="btn-label"><i class="fa fa-edit"></i></span> Edit</a></li>
                <li><hr class="dropdown-divider"></li>
                <li><a class="dropdown-item text-danger" href="#" ><span class="btn-label"><i class="fa fa-trash"></i></span> Delete</a></li>
              </ul>
            </div></td>
          </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
