<div class="row">
  <div class="col-lg-12">
    <!-- ==================================-->
    <!-- ========== Basic Alert ========== -->
    <!-- ==================================-->
    <div class="card w-100">
      <div class="d-flex justify-content-between ">
        <div class="p-3">
          <h4 class="card-title mb-0">Outils</h4>
        </div>
        <button *ngIf="loggedInUser != null" class="btn btn-outline-primary btn-sm" type="button" routerLink="/component/outil-form">Ajouter Outil</button>
      </div>
      <div class="card-body border-top">
        <table datatable [dtOptions]="dtOptions" [dtTrigger]="dtTrigger" class="row-border hover">
          <thead>
          <tr>
            <th>ID</th>
            <th>Info Developpeur</th>
            <th>Nom d'outil</th>
            <th>Date Publication</th>
            <th>Code Source</th>
            <th>Actions</th>
          </tr>
          </thead>
          <tbody>
          <tr *ngFor="let outil of outils">
            <td>{{outil.outil.id}}</td>
            <td>
              <div class="d-flex align-items-center">
                <img *ngIf="outil.membre.photo !='';else noPhoto" id="image{{outil.membre.id}}" alt="user" width="45" style="border: 1px black"
                     class="rounded-circle">
                <ng-template #noPhoto>
                  <img src="assets/images/users/user1.jpg" alt="Admin"  width="45" height="45" >
                </ng-template>
                <div class="ms-3">
                  <h5 class="mb-0 font-medium">{{outil.membre.prenom}} {{outil.membre.nom}}</h5>
                  <span class="text-muted">{{outil.membre.email}}</span>
                </div>
              </div>
            </td>
            <td>{{outil.outil.nom}}</td>
            <td>{{outil.outil.date}}</td>
            <td><a class="btn btn-outline-primary" id="source{{outil.outil.id}}"><span><i class="fa fa-file-archive fa-2x"></i></span></a></td>
            <td><div class="btn-group" ngbDropdown *ngIf="loggedInUserIsAdmin || (loggedInUser != null && outil.membre.id === loggedInUser.id); else noAction">
              <button type="button" class="btn btn-primary
                dropdown-toggle-icon-none
                d-flex
                align-items-center"               id="dropdown1"
                      ngbDropdownToggle>
                                        <span class="icon icon-sm">
                                            <span class="fas fa-ellipsis-h icon-dark"></span>
                                        </span>
                <span class="sr-only">Toggle Dropdown</span>
              </button>

              <ul ngbDropdownMenu aria-labelledby="dropdown1">
                <li *ngIf="loggedInUserIsAdmin || (loggedInUser != null && outil.membre.id === loggedInUser.id)"><a class="dropdown-item text-black" routerLink="/component/outil-form/{{outil.outil.id}}/edit"><span
                  class="btn-label"><i class="fa fa-edit"></i></span> Edit</a></li>
                <li>
                  <hr class="dropdown-divider">
                </li>
                <li *ngIf="loggedInUserIsAdmin || (loggedInUser != null && outil.membre.id === loggedInUser.id)"><a class="dropdown-item text-danger" href="#" [swal]="{ title: 'Are you sure?',
                  text: 'You will not be able to revert this!',
                  icon: 'warning',
                  showCancelButton: true,
                  confirmButtonText: 'Yes, delete it!',
                  reverseButtons: true,
                  cancelButtonText: 'No, cancel!', showCancelButton: true }"
                                                   (confirm)="onRemove(outil.membre.id,outil.outil.id)"
                ><span class="btn-label"><i class="fa fa-trash"></i></span> Delete</a></li>
              </ul>
            </div>
              <ng-template #noAction>
            <div>
              None
            </div>
              </ng-template>
            </td>
          </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>



