<!-- ==================================-->
<!-- ========== Basic Alert ========== -->
<!-- ==================================-->
<div class="card w-100">
  <div class="d-flex justify-content-between ">
    <div class="p-3">
      <h4 class="card-title mb-0">Publications</h4>
    </div>
    <button *ngIf="loggedInUser != null" class="btn btn-outline-primary btn-sm" type="button"
            routerLink="/component/publication-form">Ajouter Publication
    </button>
  </div>

  <div class="card-body border-top">
    <div class="col-md-4">
      <label for="filter" class="control-label">Filter Publications</label>
      <input type="text" [(ngModel)]="term" id="filter" (ngModelChange)="onChange($event)" class="form-control"
             placeholder="Filter by date/type/title/description">
    </div>
    <br/>
    <div class="row">
      <!-- Card -->
      <div class="col-lg-3 col-md-6" *ngFor="let publication of publications |filter:term">
        <div class="card">
          <img
            class="card-img-top img-responsive"
            alt="Card image cap"
            id="image{{publication.id}}"
          />
          <div class="card-body">
            <h4 class="card-title">{{publication.titre}}</h4>
            <p class="card-text">
              {{publication.description}}
            </p>
            <p>
              {{publication.date}}
            </p>
            <p>
              {{publication.type}}
            </p>
            <a href="javascript:void(0)" class="btn btn-primary" id="source">Download PDF</a>
            <a *ngIf="ownedPublications.includes(publication)" href="javascript:void(0)" class="btn btn-primary" id="edit" routerLink="/component/publication-form/{{publication.id}}/edit">Edit</a>
          </div>
        </div>
      </div>
      <!-- Card -->
    </div>
  </div>
</div>
<!-- Row -->

