<div class="row">
  <div class="col-lg-12">
    <div class="card w-100">
      <div class="p-3">
        <h4 class="card-title mb-0">Membre</h4>
      </div>
        <div class="row gutters-sm">
          <div class="col-md-4 mb-3">
            <div class="card">
              <div class="card-body">
                <div class="d-flex flex-column align-items-center text-center">
                  <img src="https://bootdey.com/img/Content/avatar/avatar7.png" alt="Admin" class="rounded-circle" width="150">
                  <div class="mt-3">
                    <h4>{{ member.nom }} {{ member.prenom }}</h4>
                    <p class="text-primary mb-1">{{ member.type }}</p>
                    <p class="text-muted font-size-sm">{{ member.etablissement }}</p>
                    <button class="btn btn-primary">CV</button>
                    <!--<button class="btn btn-outline-primary" routerLink="/component/member-edit">Edit</button>-->
                  </div>
                </div>
              </div>
            </div>

          </div>
          <div class="col-md-8">
            <div class="card mb-3">
              <div class="card-body">
                <div class="row">
                  <div class="col-sm-3">
                    <h6 class="mb-0">Nom Complet</h6>
                  </div>
                  <div class="col-sm-9 text-primary">
                    {{ member.nom }} {{ member.prenom }}
                  </div>
                </div>
                <hr>
                <div class="row">
                  <div class="col-sm-3">
                    <h6 class="mb-0">Email</h6>
                  </div>
                  <div class="col-sm-9 text-primary">
                    {{ member.email }}
                  </div>
                </div>
                <hr>
                <div class="row">
                  <div class="col-sm-3">
                    <h6 class="mb-0">CIN</h6>
                  </div>
                  <div class="col-sm-9 text-primary">
                    {{ member.cin }}
                  </div>
                </div>
                <hr>
                <div class="row">
                  <div class="col-sm-3">
                    <h6 class="mb-0">Date de Naissance</h6>
                  </div>
                  <div class="col-sm-9 text-primary">
                    {{ member.date }}
                  </div>
                </div>
                <hr>
                <div class="row" *ngIf="member.diplome != null">
                  <div class="col-sm-3">
                    <h6 class="mb-0">Diplome</h6>
                  </div>
                  <div class="col-sm-9 text-primary">
                    {{ member.diplome }}
                  </div>
                  <hr>
                </div>
                <div class="row" *ngIf="member.dateInscription != null">
                  <div class="col-sm-3">
                    <h6 class="mb-0">Date d'Inscription</h6>
                  </div>
                  <div class="col-sm-9 text-primary">
                    {{ member.dateInscription }}
                  </div>
                  <hr>
                </div>
                <div class="row" *ngIf="member.encadreur != null">
                  <div class="col-sm-3">
                    <h6 class="mb-0">Encadreur</h6>
                  </div>
                  <div class="col-sm-9 text-primary">
                    {{ member.encadreur }}
                  </div>
                  <hr>
                </div>
                <div class="row" *ngIf="member.grade != null">
                  <div class="col-sm-3">
                    <h6 class="mb-0">Grade</h6>
                  </div>
                  <div class="col-sm-9 text-primary">
                    {{ member.grade }}
                  </div>
                  <hr>
                </div>
                <div class="row" *ngIf="member.etablissement != null">
                  <div class="col-sm-3">
                    <h6 class="mb-0">Etablissement</h6>
                  </div>
                  <div class="col-sm-9 text-primary">
                    {{ member.etablissement }}
                  </div>
                  <hr>
                </div>


              </div>
            </div>





          </div>
        </div>
        </div>

      </div>
  </div>
