<div class="row">
  <div class="col-lg-12">
    <div class="card w-100">
      <div class="d-flex justify-content-between">
        <div class="p-3">
          <h4 class="card-title mb-0">Membre</h4>
        </div>
        <button class="btn btn-outline-primary" *ngIf="canEdit" routerLink="/component/profile">Edit</button>
      </div>
      <div class="row gutters-sm">
        <div class="col-md-4 mb-3">
          <div class="card">
            <div class="card-body">
              <div class="d-flex flex-column align-items-center text-center">
                <img *ngIf="member.photo !='';else noPhoto" alt="Admin" id="image" class="rounded-circle" width="100">
                <ng-template #noPhoto>

                  <img src="https://bootdey.com/img/Content/avatar/avatar7.png" alt="Admin" class="rounded-circle"
                       width="150">
                </ng-template>
                <div class="mt-3">
                  <h4>{{ member.nom }} {{ member.prenom }}</h4>
                  <p class="text-primary mb-1">{{ member.type }}</p>
                  <p class="text-muted font-size-sm">{{ member.etablissement }}</p>
                  <a class="btn btn-primary" id="cv" *ngIf="member.cv !== ''">CV</a>
                </div>
              </div>
            </div>
          </div>

        </div>
        <div class="col-md-8">
          <div class="card mb-3">
            <div class="card-body">
              <div class="row">
                <div class="col-sm-3">
                  <h6 class="mb-0">Nom Complet</h6>
                </div>
                <div class="col-sm-9 text-primary">
                  {{ member.nom }} {{ member.prenom }}
                </div>
              </div>
              <hr>
              <div class="row">
                <div class="col-sm-3">
                  <h6 class="mb-0">Email</h6>
                </div>
                <div class="col-sm-9 text-primary">
                  {{ member.email }}
                </div>
              </div>
              <hr>
              <div class="row">
                <div class="col-sm-3">
                  <h6 class="mb-0">CIN</h6>
                </div>
                <div class="col-sm-9 text-primary">
                  {{ member.cin }}
                </div>
              </div>
              <hr>
              <div class="row">
                <div class="col-sm-3">
                  <h6 class="mb-0">Date de Naissance</h6>
                </div>
                <div class="col-sm-9 text-primary">
                  {{ member.date }}
                </div>
              </div>
              <hr>
              <div class="row" *ngIf="member.diplome != null">
                <div class="col-sm-3">
                  <h6 class="mb-0">Diplome</h6>
                </div>
                <div class="col-sm-9 text-primary">
                  {{ member.diplome }}
                </div>
                <hr>
              </div>
              <div class="row" *ngIf="member.dateInscription != null">
                <div class="col-sm-3">
                  <h6 class="mb-0">Date d'Inscription</h6>
                </div>
                <div class="col-sm-9 text-primary">
                  {{ member.dateInscription }}
                </div>
                <hr>
              </div>
              <div class="row" *ngIf="member.encadreur != null">
                <div class="col-sm-3">
                  <h6 class="mb-0">Encadreur</h6>
                </div>
                <div class="col-sm-9 text-primary">
                  {{ member.encadreur }}
                </div>
                <hr>
              </div>
              <div class="row" *ngIf="member.grade != null">
                <div class="col-sm-3">
                  <h6 class="mb-0">Grade</h6>
                </div>
                <div class="col-sm-9 text-primary">
                  {{ member.grade }}
                </div>
                <hr>
              </div>
              <div class="row" *ngIf="member.etablissement != null">
                <div class="col-sm-3">
                  <h6 class="mb-0">Etablissement</h6>
                </div>
                <div class="col-sm-9 text-primary">
                  {{ member.etablissement }}
                </div>
                <hr>
              </div>


            </div>
          </div>


        </div>
      </div>
    </div>

  </div>
</div>

<div class="row" *ngIf="member.type=='Enseignant'">
  <div class="col-lg-12">
    <!-- ==================================-->
    <!-- ========== Basic Alert ========== -->
    <!-- ==================================-->
    <div class="card w-100">
      <div class="d-flex justify-content-between ">
        <div class="p-3">
          <h4 class="card-title mb-0">Encadrement</h4>
        </div>
        <button *ngIf="canEdit" class="btn btn-outline-primary btn-sm" type="button"
                routerLink="/component/encadrement-form/{{member.id}}/edit">Modifier la liste
        </button>
      </div>
      <div class="card-body border-top">
        <table datatable class="row-border hover" *ngIf="etudiantsEncadrees.length >0">
          <thead>
          <tr>
            <th>ID</th>
            <th>General Infos</th>
            <th>Diplome</th>
            <th>Date Inscription</th>
          </tr>
          </thead>
          <tbody>
          <tr *ngFor="let member of etudiantsEncadrees">
            <td>{{member.id}}</td>
            <td>
              <div class="d-flex align-items-center">
                <img *ngIf="member.photo !='';else noPhoto" id="image{{member.id}}" alt="user" width="45"
                     class="rounded-circle">
                <ng-template #noPhoto>
                  <img src="assets/images/users/user1.jpg" alt="Admin" class="rounded-circle" width="45" height="45"
                       class="rounded-circle">
                </ng-template>
                <div class="ms-3">
                  <h5 class="mb-0 font-medium">{{member.prenom}} {{member.nom}}</h5>
                  <span class="text-muted">{{member.email}}</span>
                </div>
              </div>
            </td>
            <td>{{member.diplome}}</td>
            <td>{{member.dateInscription}}</td>
          </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>

<div class="row" *ngIf="evenements.length>0">
  <div class="col-lg-12">
    <!-- ==================================-->
    <!-- ========== Basic Alert ========== -->
    <!-- ==================================-->
    <div class="card w-100">
      <div class="d-flex justify-content-between ">
        <div class="p-3">
          <h4 class="card-title mb-0">Evenements</h4>
        </div>
      </div>
      <div class="card-body border-top">
        <table datatable class="row-border hover">
          <thead>
          <tr>
            <th>ID</th>
            <th>Titre</th>
            <th>Lieu</th>
            <th>Date</th>
          </tr>
          </thead>
          <tbody>
          <tr *ngFor="let evenement of member.evenements">
            <td>{{evenement.id}}</td>
            <td>
              {{evenement.titre}}
            </td>
            <td>{{evenement.lieu}}</td>
            <td>{{evenement.date}}</td>
          </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
<div class="row" *ngIf="outils.length>0">
  <div class="col-lg-12">
    <!-- ==================================-->
    <!-- ========== Basic Alert ========== -->
    <!-- ==================================-->
    <div class="card w-100">
      <div class="d-flex justify-content-between ">
        <div class="p-3">
          <h4 class="card-title mb-0">Outils</h4>
        </div>
      </div>
      <div class="card-body border-top">
        <table datatable class="row-border hover">
          <thead>
          <tr>
            <th>ID</th>
            <th>Nom d'outil</th>
            <th>Date Publication</th>
            <th>Code Source</th>
            <th>Actions</th>
          </tr>
          </thead>
          <tbody>
          <tr *ngFor="let outil of outils">
            <td>{{outil.id}}</td>
            <td>{{outil.nom}}</td>
            <td>{{outil.date}}</td>
            <td><a href="javascript:void(0)" class="btn btn-outline-primary" id="sourceOutil{{outil.id}}"><span><i class="fa fa-file-archive fa-2x"></i></span></a></td>
            <td><div class="btn-group" ngbDropdown *ngIf="canEdit; else noAction">
              <button type="button" class="btn btn-primary
                dropdown-toggle-icon-none
                d-flex
                align-items-center"               id="dropdown1"
                      ngbDropdownToggle>
                                        <span class="icon icon-sm">
                                            <span class="fas fa-ellipsis-h icon-dark"></span>
                                        </span>
                <span class="sr-only">Toggle Dropdown</span>
              </button>

              <ul ngbDropdownMenu aria-labelledby="dropdown1">
                <li *ngIf="canEdit"><a class="dropdown-item text-black" routerLink="/component/outil-form/{{outil.id}}/edit"><span
                  class="btn-label"><i class="fa fa-edit"></i></span> Edit</a></li>
                <li>
                  <hr class="dropdown-divider">
                </li>
                <li *ngIf="canEdit"><a class="dropdown-item text-danger" href="#" [swal]="{ title: 'Are you sure?',
                  text: 'You will not be able to revert this!',
                  icon: 'warning',
                  showCancelButton: true,
                  confirmButtonText: 'Yes, delete it!',
                  reverseButtons: true,
                  cancelButtonText: 'No, cancel!', showCancelButton: true }"
                                                                                                                    (confirm)="onRemoveOutil(outil.id,outil.id)"
                ><span class="btn-label"><i class="fa fa-trash"></i></span> Delete</a></li>
              </ul>
            </div>
              <ng-template #noAction>
                <div>
                  None
                </div>
              </ng-template>
            </td>
          </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
<div class="card w-100" *ngIf="publications.length>0">
  <div class="d-flex justify-content-between ">
    <div class="p-3">
      <h4 class="card-title mb-0">Publications</h4>
    </div>
  </div>

  <div class="card-body border-top">
    <div class="col-md-4">
<!--      <label for="filter" class="control-label">Filter Publications</label>-->
<!--      <input type="text" [(ngModel)]="term" id="filter" (ngModelChange)="onChange($event)" class="form-control"-->
<!--             placeholder="Filter by date/type/title/description">-->
    </div>
    <br/>
    <div class="row">
      <!-- Card -->
<!--      <div class="col-lg-3 col-md-6" *ngFor="let publication of publications |filter:term">-->
      <div class="col-lg-3 col-md-6" *ngFor="let publication of member.publications">
        <div class="card">
          <img
            class="card-img-top img-responsive"
            alt="Card image cap"
            id="pub{{publication.id}}"
          />
          <div class="card-body">
            <h4 class="card-title">{{publication.titre}}</h4>
            <p class="card-text">
              {{publication.description}}
            </p>
            <p>
              {{publication.date}}
            </p>
            <p>
              {{publication.type}}
            </p>
            <a href="javascript:void(0)" class="btn btn-primary" id="source{{publication.id}}">Download PDF</a>
          </div>
        </div>
      </div>
      <!-- Card -->
    </div>
  </div>
</div>

