<div class="row">
  <div class="col-lg-12">
    <!-- ==================================-->
    <!-- ========== Basic Alert ========== -->
    <!-- ==================================-->
    <div class="card w-100">
      <div class="p-3">
        <h4 class="card-title mb-0">Membre Show</h4>
      </div>
        <div class="row gutters-sm">
          <div class="col-md-4 mb-3">
            <div class="card">
              <div class="card-body">
                <div class="d-flex flex-column align-items-center text-center">
                  <img src="https://bootdey.com/img/Content/avatar/avatar7.png" alt="Admin" class="rounded-circle" width="150">
                  <div class="mt-3">
                    <h4>{{ Member.nom }} {{ Member.prenom }}</h4>
                    <p class="text-secondary mb-1">{{ Member.type }}</p>
                    <p class="text-muted font-size-sm">{{ Member.etablissement }}</p>
                    <button class="btn btn-primary">cv</button>
                    <!--<button class="btn btn-outline-primary" routerLink="/component/member-edit">Edit</button>-->
                  </div>
                </div>
              </div>
            </div>

          </div>
          <div class="col-md-8">
            <div class="card mb-3">
              <div class="card-body">
                <div class="row">
                  <div class="col-sm-3">
                    <h6 class="mb-0">Full Name</h6>
                  </div>
                  <div class="col-sm-9 text-secondary">
                    {{ Member.nom }} {{ Member.prenom }}
                  </div>
                </div>
                <hr>
                <div class="row">
                  <div class="col-sm-3">
                    <h6 class="mb-0">Email</h6>
                  </div>
                  <div class="col-sm-9 text-secondary">
                    {{ Member.email }}
                  </div>
                </div>
                <hr>
                <div class="row">
                  <div class="col-sm-3">
                    <h6 class="mb-0">cin</h6>
                  </div>
                  <div class="col-sm-9 text-secondary">
                    {{ Member.cin }}
                  </div>
                </div>
                <hr>
                <div class="row">
                  <div class="col-sm-3">
                    <h6 class="mb-0">date</h6>
                  </div>
                  <div class="col-sm-9 text-secondary">
                    {{ Member.date }}
                  </div>
                </div>
                <hr>
                <div class="row">
                  <div class="col-sm-3">
                    <h6 class="mb-0">diplome</h6>
                  </div>
                  <div class="col-sm-9 text-secondary">
                    {{ Member.diplome }}
                  </div>
                </div>
                <hr>
                <div class="row">
                  <div class="col-sm-3">
                    <h6 class="mb-0">encadreur</h6>
                  </div>
                  <div class="col-sm-9 text-secondary">
                    {{ Member.encadreur }}
                  </div>
                </div>
                <hr>
                <div class="row">
                  <div class="col-sm-3">
                    <h6 class="mb-0">grade</h6>
                  </div>
                  <div class="col-sm-9 text-secondary">
                    {{ Member.grade }}
                  </div>
                </div>
                <hr>

              </div>
            </div>





          </div>
        </div>
        </div>

      </div>
  </div>
